* { 
padding: 0; 
margin: 0; 
}

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 height: max-content;
 width: 100%;
}
.div-container {
    height: 60px;
    background-color: #deb997;
  }
  
  .logo img {
    height: 60px;
    margin: auto;
    align-items: center;
    display: flex;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #85450b;
    display: flex;
    justify-content: space-between;
  
    #drop-down {
      height: 40px;
      width: 3%;
      margin-top: 6px;
      button {
        height: 100%;
        width: 90%;
        background-color: transparent;
        margin-left: 5px;
        i {
          font-size: 30px;
          color: #fcfadc;
        }
      }
    }
  
    #search-bar {
      width: 900px;
      height: auto;
      background-color: transparent;
      margin-top: 6px;
  
      .input {
        background-color: #fcfadc;
        width: 90%;
        height: 80%;
        border: 1px solid rgba(133, 70, 11, 0.781);
        border-radius: 7px;
        padding-left: 15px;
      }
      .button {
        height: 78%;
        width: 5%;
        align-self: flex-start;
        border-radius: 7px;
        border: 1px solid #fcfadc;
        background-color: transparent;
        transition: 0.5s;
        i {
          width: 100%;
          color: #fcfadc;
          font-size: large;
        }
      }
      .button:hover {
        background-color: #fcfadc;
        i:hover {
          color: rgba(133, 70, 11, 0.781);
        }
      }
    }
  }
  .icons {
    margin-right: 25px;
    height: auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  
    .i-icon {
      font-size: 30px;
      color: #fcfadc;
      margin: 2px;
    }
  }
#wrapper { 
 width:100%;
 margin-top: 3.3%;
}

#leftcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background:#F6F0E0;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height:max-content;
 width:20%;
 float: left;
}

#rightcolumn { 
 float: right;
 border: 1px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height:max-content;
 width:80%;
 display: inline;
 position: relative;
 
.dotd {
    margin-top: 3%;
    height: 420px;
    width: 100%;
  }
  
  .dotdbanner {
    height: 50px;
    width: 100%;
    /* background-color: #85450b; */
    h1 {
      color: #85450b;
      text-align: left;
      font-family: "Times New Roman", Times, serif;
      font-weight: 900;
      font-size: 30px;
      font-style: normal;
      font-variant: normal;
      margin-left: 3.2%;
    }
  }
  .card2 {
    gap: 30px;
    margin-top: 0.5%;
    width: 97%;
    margin-bottom:2.5%;
  }
  .button-set {
    width: max-content!important;
    margin-left: 0.5%;
}

}
